*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  background: #0F172A;
}

.custom-navbar{
  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(10px);
  padding: 18px 0;
}

.logo{
   font-size:32px;
    font-weight:700;
    color:white !important;
}

.logo span{
  color: #F59E0B;
}

.nav-link{
  color: white !important;
  margin-left: 20px;
  transition: .3s;
}

.nav-link:hover{
  color: #F59E0B !important;
}

.resume-btn{
  background: #F59E0B;
  color: white;
  border-radius: 30px;
  padding: 8px 22px;
  border: none;
}

.resume-btn:hover{
  background: #d88900;
  color: white;
}